.modalContent {
    z-index:2;
    width:50%;
    padding: 1em;
    background:#fff;
}

.content{
  width: 65%;
  box-sizing: border-box;
  margin: 50px auto auto auto;
}

.sidebar{
  width: 30%;
  background: linear-gradient(90deg, #FFAF76 0%, rgba(255, 175, 118, 0) 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  height: auto; /* 自動的に高さを調整 */
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 300px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  margin-top: 100px;
}

.usersList {
  padding: 20px;
  height: 80vh;
  overflow: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 60%);
  border-radius: 20px;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.icon {
  margin: 20px;
  border-radius: 50%;
}

.userContents {
  display: flex;
  flex-flow: column;
  width: 1120px;
  justify-content: space-between;
  border-bottom: solid 1px;
}

.editButtons {
  display: flex;
  flex-flow: column;
}

.editButtons div {
  margin: 20px;
}

.name {
  font-size: 30px;
  text-align: center;
}

.quote {
  font-size: 16px;
  text-align: center;
}

.addButton {
  margin-top: 100px;
  width: 200px;
  height: 80px;

  background: #FFAF76;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form div{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form div label{
  font-size: 20px;
}

.form div input{
  width: 80%;
  height: 32px;
  font-size: 20px;
  border: solid #aaa;
  border-radius: 8px;
}